
@keyframes heartbeat { /* анимация биения сердца */ 

    from { /* как будет изначально */
        transform: scale(1); /* ширина и высота 100% */
    }

    50% { /* как будет в середине анимации */
        transform: scale(1.2); /* увеличиваем до 110% */
    }

    to { /* как будет в конце анимации */
        transform: scale(1); 
    }
}