.catalog {
    padding-bottom: 60px;
    
    &__tabs {
        margin-top: 45px;
        list-style-type: none; /* убираем точки от li */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #D0D0D0;
        margin: 0 5px;
        cursor: pointer; 
        &:hover {
            box-shadow: 3px 3px 10px $main-color; /* смещение тени вправо и вниз по 3px, размытие 20px, цвет */
            transition: 0.5s all; /* плавная анимация */
            border: none; 
        }

        display: flex;
        font-weight: 400;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #6B6B6B;

        transform: skewX(-25deg);

        div {
            transform: skewX(25deg);
        }

        &_active {
            color: #fff;
            background-color: $main-color;
            border: none;
        }
    }
    
    &__content { /* 3 таба */
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        display: none; /* скрываем все */
        &_active {
            display: flex; /* отображаем только активный */
        }
    }




    &-item {
        margin-right: 16px;
        margin-bottom: 16px;

        width: 300px;
        min-height: 440px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 2px 20px;
        overflow: hidden; /* все что вылезло за пределы ширины и высоты - скрываем */
        &__img {
            max-width: 100%; /* максимум 100% от родителя */
            height: 200px; /* высота должна быть четкая */
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            // display: flex;
            // justify-content: center;
            display: block;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 14px;
            text-decoration-line: underline;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            background-color: #e8e8e8;
            border-bottom: none;
            margin: 0 0;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            height: 80px;
            align-items: center;
        }
       
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }

        &__price {
            font-weight: 700;
            font-size: 20px;
            color: #050505;
        }





        
        &__wrapper { /* обертка для 2 карточек */
            display: flex; /* чтобы расположить горизонтально */
            width: calc(200% + 40px); /* 200% от родителя + отступы  */
        }
        &__content {
            transition: 0.5s all;
            width: 50%; /* от wrapper */
            margin-right: 0px; /* по дефолту */
            transform: translateX(-100%); /* по дефолту смещен влево */
            &_active {
                transform: translateX(0%); /* в активе стоит ровно */
                margin-right: 20px; /* в активе отступ от 2-ой карточки */
            }
        }
        &__list {
            width: 50%;
            transform: translateX(0%);
            transition: 0.5s all;
            padding-left: 0px;
            margin-bottom: 0;
            
            li {
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                margin-bottom: 10px;

            } 
            li::marker {
                color: $main-color;
            }
            &_active {
                transform: translateX(-100%);
                // margin-left: 20px;
            }
        }
        &__li {
            list-style-type: square;
            // margin-left: 20px; /* отступ от 1 карточки */
            padding-right: 20px;
            padding-left: 20px;


        }
        &__back {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(calc(-50% - 8px));
            display: block;

            font-weight: 500;
            font-size: 14px;
            text-decoration: underline;
            text-transform: uppercase;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }


       

    

    }














    
}




















