.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 36px;
        font-weight: 700;
        font-size: 20px;
        display: block;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            color: #fff;
        }
    }
    &__social {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-item {
            margin: 0 14px;
        }
    }


}