.owerlay {
    display: none;
    position: fixed; /* чтобы окно было закреплено где бы мы его не открыли */
    top: 0;
    width: 100%; /* от всего body */
    height: 100%;
    background-color: rgba(0,0,0, .56) /* затемняем фон */
}

.modal {
    position: absolute; /* выравниваем по центру */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* комбинированное решение */

    background-color: #f2f2f2;
    width: 380px;
    min-height: 400px; /* увеличится если вылезает контент */
    padding: 38px 40px 40px 40px;

    &__close { /* крестик */
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 40px;
        line-height: 21px;
        color: $main-color;
        cursor: pointer;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        color: #0D0D0D;
    }

    &__descr {
        margin-top: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #0D0D0D;
    }
    .feed-form { /* отступ от 1-ой формы до descr */
        margin-top: 25px;
    }

    &_mini {
        min-height: 140px;
    }


    // валидация 
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }


}

#consultation, #order, #thanks {
    display: none;
}